@charset "utf-8";
/* CSS Document */

#topBox {
	clear: left;
	height: 100px;
	width: 102%;
	padding: 10px;
	margin: -8px;
	background-color: wheat;
}



#leftBox {
	float: left;
	height: 800px;
	width: 60%;
	border: solid thick green;
	margin: 2%;
}


#rightBox {
	float: left;
	height: 800px;
	width: 30%;
	border: solid thick green;
	margin-top: 2%;
	margin-right: 1%;
	margin-left: 1%;
}